*{
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-x: hidden;
    font-size: 18px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: rgba(1, 16, 44, 0.566);
    width: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(199, 199, 199);

}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(199, 2, 2);
}

:root{
    --primary : rgba(226, 226, 254, 0.871);
    --secondary : rgba(182, 177, 255, 0.858);
    --special : rgba(110, 48, 252, 0.84);
}
.bg-pri{
    background-color: var(--primary);
}.bg-sec{
    background-color: var(--secondary);
}.bg-spe{
    background-color: var(--special);
}
.btn, .btn-done,.btn-action,.btn-cancel{
    background-color: rgb(0, 42, 255);
    border: 0.15rem solid rgba(1, 11, 33, 0.141);
    border-radius: 0.3rem;
    padding: 0.35rem;
    width: 8rem;
    min-width: fit-content;
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.85;
    color: white;
}
.btn-action{
    font-size: 0.61rem;
    padding: 0.2;
    color: blue;
}

.btn, .btn-done,.btn-action,.btn-cancel:hover{
    opacity: 1;
}
.btn-done{
    background-color: var(--special);
color: white;
}
.btn-cancel{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);

}
.btn-action{
    background-color: rgb(217, 240, 245);

}
.p10{
    padding: 1rem;
}
.p05{
    padding: 0.5rem;
}
.p15{
    padding: 1.5rem;
}
.p20{
    padding: 2rem;
}
.m10{
    margin: 1rem;
}
.m05{
    margin: 0.5rem;
}
.m15{
    margin: 1.5rem;
}
.m20{
    margin: 2rem;
}
.bold7{
    font-weight: 700;
}.bold8{
    font-weight: 800;
}.bold9{
    font-weight: 900;
}.bold{
    font-weight: 600;
}
.flex-center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.flex-default{
    display: flex;
}

.txt-center{
    text-align: center;
}
.txt-end{
    text-align: end;
}

::-webkit-input-placeholder{
    color: white;
    text-shadow: 0px 0px 2px black;
}

@media screen and (max-width:1500px) {
    html{
        font-size: 15px;
    }
}


@media screen and (max-width:1200px) {
   html{
    font-size: 11px;
   } 
}


@media screen and (max-width:720px) {
   html{
    font-size: 9px;
   }
   .flex-center,.flex-default{
    flex-wrap: wrap;
}
.sectionContent{
    flex-direction: column-reverse;
}
.middle{
    min-width: 99vw;
}
.middle .welcome{
    min-width: 85vw;

}
.right{
    min-width: 99vw;
}
.gmap_iframe{
    min-width: 80vw;
    min-height: 200px;
    border-radius: 5px;
    display: none;
}
.btn{
    font-size: 1.5rem;
}

}


@media screen and (max-width:480px) {
    html{
        font-size: 7px;
    }
}






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;

}
::-webkit-scrollbar{
    background-color: rgba(1, 16, 44, 0.566);
   cursor: pointer;
   width: .61rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(167, 255, 245);

}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: rgb(199, 2, 2);

}


html,
body {
    background-color: #fef2f2;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

button {
    padding: 0.3rem 0.8rem;
    margin: 3px;
    border-radius: 25px;
    color: white;
    background-color: rgba(20, 0, 48, 0.873);
    border: 1px solid red;
    transition: all ease-in-out 1s;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform:uppercase ;

}
button:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 108, 158);
    background-color: rgba(10, 38, 180, 0.919);

}

.nav {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    font-size: 2.4vw;
    padding:10px 0.81rem;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
}
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    /* background-color:rgba(10, 0, 28, 0.96); */
    background: linear-gradient(rgb(34, 0, 0),rgb(0, 0, 36));
}
.nav h2 {
    color: white;
    font-size: 3rem;
    text-shadow: 3px 0px 3px rgb(79, 3, 219);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.nav .menuBar{
    display: none;
}
.btns{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
.profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.profile .mapouter{
    max-width: fit-content;
}
.profileImage{
    width: 600px;
    max-width: 95%;
    height: 400px;
    max-height: 60vw;
    border: 2px solid;
    display: flex;
    float: left;
}



@media screen and (max-width:1280px) {
        html,
        body {
        font-size: 14px;
        
        }   .nav h2{
            font-size: 2rem;
            }
    .nav .menuBar{
    display: block;
    font-size: 1.3rem;
    box-shadow: 0 0 3px;
    padding: 5px 10px;
    border-radius: 5px;
    }


    }      

    @media screen and (max-width:600px) {

        html,
        body {
        font-size: 11px;
        
        }
        .nav h2{
        font-size: 1.72rem;
        }
        }
        


.importantLinks a{
    color: blue;
}
